.subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #274c77;
  margin-top: 50px;
}

.box {
  background: #ffffff;
  border-radius: 25px;
  font-family: "Alegreya";
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  padding: 15px 5px;
  width: 500px;
  margin: 15px auto;
  text-align: left;
  padding: 15px 25px;
}

.button {
  background: #ffffff;
  border: 3px solid #284b63;
  border-radius: 10px;
  font-size: 20px;
  color: #284b63;
  margin: 10px 5px;
  padding: 3px 10px;
}

.button:hover {
  background: #284b63;
  color: #ffffff;
}

.modal {
  width: 500px;
}

.modalBody {
  padding: 20px 30px;
}

.inputBox {
  height: auto;
  border-radius: 15px;
  padding: 10px;
}

.inputBox::placeholder {
  color: black;
}

.modalTitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #274c77;
}

#upgradeBtn {
  width: 200px;
}

#planType {
  width: 125px;
}

.modalText {
  font-family: "Alegreya";
  font-style: normal;
  font-size: 22px;
}

.submitButton {
  background: rgb(117, 180, 117);
  color: white;
  border: 3px solid rgb(117, 180, 117);
  border-radius: 10px;
  font-size: 16px;
  height: auto;
  padding: 5px 20px;
}

.submitButton:hover {
  background: #ffffff;
  color: rgb(117, 180, 117);
}
