.coding {
  background: rgba(222, 226, 230, 0.8);
  min-height: 80vh;
  display: flex;
  flex-direction: row;
}

.leftPane {
  width: 20%;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

.middlePane {
  width: 60%;
}

.rightPane {
  width: 20%;
}

.infoBox {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  height: 30%;
  background-color: #eee;
}

.subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #274c77;
  padding: 30px;
}

.tabs {
  text-align: center;
}
