.coding {
  background: rgba(222, 226, 230, 0.8);
  height: 100%;
  display: flex;
  flex-direction: row;
}

.leftPane {
  width: 20%;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

.middlePane {
  width: 60%;
}

.rightPane {
  width: 20%;
}

.infoBox {
  height: 50%;
  background-color: #eee;
}


.chatBox {
  height: 50%;
  background-color: #ccc;
}

.subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #274c77;
  margin-top: 50px;
  margin-bottom: 20px;
}

.tabs {
  text-align: center;
}
