.coding {
  background: rgba(222, 226, 230, 0.8);
  min-height: 80vh;
  display: flex;
  flex-direction: row;
}

.leftPane {
  width: 20%;
  text-align: left;
  margin-left: 50px;
  margin-right: 50px;
}

.middlePane {
  width: 55%;
}

.rightPane {
  width: 25%;
}

.infoBox {
  height: 30%;
  background-color: #eee;
}

.lobbyInfo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: auto 20px;
}

.subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #274c77;
  padding-top: 30px;
}

.tabs {
  text-align: center;
}

.emailInviteInput {
  border: none;
  border-radius: 10px;
  font-size: 15px;
  margin: 10px;
  padding: 10px;
  width: 60%;
}

.sendBtn {
  padding: 5px 15px;
  margin: 5px;
  border: solid 2px rgb(117, 180, 117);
  border-radius: 10px;
  background-color: rgb(117, 180, 117);
  color: white;
}

.sendBtn:hover {
  background-color: white;
  color: rgb(117, 180, 117);
}
