#genericWelcome {
  font-family: "Lora";
  font-style: italic;
  font-weight: 700;
  font-size: 64px;
  color: #274c77;
  margin: 30px auto;
}

#tagline {
  font-family: "Source Sans Pro";
  font-style: italic;
  font-weight: 300;
  font-size: 30px;
  padding-bottom: 20px;
}
