.subtitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  color: #274c77;
  margin-top: 50px;
}

.box {
  background: #ffffff;
  border-radius: 25px;
  font-family: "Alegreya";
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  color: #000000;
  padding: 15px 5px;
  width: 500px;
  margin: 15px auto;
  text-align: left;
  padding: 15px 25px;
}

.button {
  background: #ffffff;
  border: 3px solid #284b63;
  border-radius: 15px;
  font-size: 20px;
  width: 150px;
  height: auto;
  margin: 10px 0px;
}

.upgradeModal {
  width: 500px;
}

.inputBox {
  height: auto;
  border-radius: 15px;
  padding: 10px;
}

.inputBox::placeholder {
  color: black;
}

.modalTitle {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #274c77;
}

#upgradeBtn {
  width: 200px;
}

#planType {
  width: 125px;
}

.modalTotal {
  font-family: "Alegreya";
  font-style: normal;
  font-size: 22px;
}
