.chatbox {
  height: 40vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  word-break: break-all;
  text-align: left;
  padding: 10px;
  width: 100%;
}

.messagesListLi {
  margin-bottom: 10px;
  width: 100%;
  padding: 0 5px;
  border-radius: 5px;
}

.messageInput {
  border: none;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 12vw;
}

.sendButton {
  padding: 10px 20px;
  margin: 10px;
  border: solid 2px rgb(117, 180, 117);
  border-radius: 10px;
  background-color: rgb(117, 180, 117);
  color: white;
}

.sendButton:hover {
  background-color: white;
  color: rgb(117, 180, 117);
}
