#intro {
  background: #284b63;
  height: auto;
  padding: 50px 0px;
}

#feature {
  background: #cce3de;
  height: auto;
  padding: 50px 0px;
}

#techFeature {
  background: #4f5d75;
  height: auto;
  padding: 50px 0px;
}

h1,
h3 {
  font-family: "Roboto";
  color: #ffffff;
  text-align: left;
  margin-left: 100px;
}

#tagline {
  font-style: normal;
  font-size: 36px;
}

#webpageName {
  font-weight: 700;
  font-size: 48px;
}

.graphics {
  width: 400px;
  margin-top: 50px;
}

.graphicsMobile {
  width: 300px;
  margin-top: 20px;
}

.graphicsBoxMobile {
  text-align: left;
  padding-left: 50px;
}

.subtitle {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  color: #ffffff;
  text-align: center;
}

.subtitleMobile {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  color: #ffffff;
  text-align: center;
}

#feature .subtitle {
  color: #274c77;
}

.textBlock {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
  background: #ffffff;
  border-radius: 20px;
  padding: 10px;
}

.textBlockMobile {
  font-family: "Alegreya";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  background: #ffffff;
  border-radius: 20px;
  padding: 10px;
  width: 80%;
  margin: 0px auto;
}

.introText {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  width: 525px;
}

.introTextMobile {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  width: 525px;
  display: contents;
}

#techFeature .graphics {
  width: 300px;
}

#techFeature .introText {
  width: 400px;
  margin-left: 40px;
}

#techFeature .subtitle {
  font-size: 30px;
  color: #ffffea;
}
