.footer {
  height: 100px;
  background: #003049;
  bottom: 0;
  position: relative;
  width: 100%;
}

#footer-text {
  color: #cce6f4;
  padding: 20px 0px;
  font-family: "Alegreya";
  font-size: 20px;
}
