@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@500&display=swap");

.header {
  text-align: center;
  background: #495057;
}
.header img {
  width: 80px;
  height: 80px;
  margin-top: 5px;
}

#title {
  font-family: "Alegreya Sans SC";
  font-style: normal;
  color: #ffffff;
  font-size: 36px;
  padding: 20px 0px;
}

.options {
  padding: 30px 0px;
  font-family: "Alegreya Sans SC";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #ffffff;
}

#premium {
  color: #f2e358;
}
